
.subscribe-btn {
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
    padding: 10px 16px;
    vertical-align: top; /*Aligning the buttons*/

    transition: opacity 0.15s;
}

.subscribe-btn:hover {
    opacity: 0.8 ; /*opacity is 0 - 1*/
}

.subscribe-btn:active { /*active is when button is pressed*/
    opacity: 0.5 ;
}

.join-btn {
    background-color: white ;
    color: rgb(61, 128, 215);
    border-color: rgb(61, 128, 215);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
    padding: 9px 16px;

    transition: background-color 0.15s, 
        color 0.15s;
}

.join-btn:hover {
    background-color: rgb(61, 128, 215);
    color: white;
}

.join-btn:active {
    opacity: 0.5;
}

.tweet-btn {
    background-color: rgb(64, 140, 240);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    padding: 9px 20px;
    
}

.tweet-btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

