p {
    font-family: Roboto; 
    margin-top: 0;
    margin-bottom: 0;
 }


 .vid-title {
     font-size: 18px;
     font-weight: bold;
     width: 270px; /*forcing text to 2nd line*/
     line-height: 24px;
 }

 .vid-statistics {
     font-size: 14px;
     color: #606060;
     margin-bottom: 20px;
     
 }

 .channel-name {
     font-size: 14px;
     color: #606060;
     margin-bottom: 20px;
 }

 .vid-description {
     font-size: 14px;
     color: #606060;
     width: 270px;
     line-height: 22px;
     margin-bottom: 100px;
 }

 .apple-text {
     margin-bottom: 50px;
     font-size: 14px;
     background-color: #e34140;
     color: white;
     text-align: center;
     padding: 18px 0;
 }

 .span-underline {
     cursor: pointer;
 }

 .span-underline:hover {
     text-decoration: underline;

 }